$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'leaflet/dist/leaflet';

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body, html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#map_canvas {
	width: 100%;
	height: 100%;
}

.container-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 90px;
	z-index: 10000;
	background-color: white;
	border-bottom: 1px solid #ccc;
}




 /* Morph Button: Default Styles */

 .about-markup {
 	position: absolute;
 	top: 20px;
 	right: 20px;
 }
 /* Colors and sizes for individual modals */
 .about-markup.about-markup {
 	float: left;
 }

 .about-markup.about-markup-2,
 .about-markup.about-markup-3 {
 	display: inline-block;
 	margin: 10px 15px;
 }

 .about-markup > button,
 .about-markup .about-content {
 	background-color: #553445;
 }

 .about-markup-2 > button,
 .about-markup-2 .about-content,
 .about-markup-3 > button,
 .about-markup-3 .about-content {
 	background-color: #fef0e3;
 	color: #e75854;
 }

 .about-markup-4 {
 	display: inline-block;
 }

 .about-markup-4 > button,
 .about-markup-4 .about-content {
 	background-color: #faf1e0;
 	color: #553445;
 }

 .about-markup-4 > button span,
 .about-markup-4 .morph-clone {
 	padding-left: 10px;
 	color: #286f81;
 }

 .about-markup-4 .morph-clone {
 	position: absolute;
 	right: 34px;
 	bottom: 30px;
 	z-index: 100;
 	letter-spacing: 1px;
 	font-weight: 700;
 	-webkit-transition: bottom 0.4s 0.1s, right 0.4s 0.1s;
 	transition: bottom 0.4s 0.1s, right 0.4s 0.1s;
 }

 .about-markup-4.open .morph-clone,
 .no-js .about-markup-4 .morph-clone {
 	right: 10px;
 	bottom: 10px;
 }

 .about-markup::before {
 	background: rgba(240,221,204,0.7);
 }

 .about-markup-2.open .about-content {
 	margin: -210px 0 0 -170px;
 	width: 340px;
 	height: 420px;
 }

 .about-markup-3.open .about-content {
 	margin: -255px 0 0 -210px;
 	width: 420px;
 	height: 510px;
 }

 .about-markup-3.open .about-content > div {
 	height: 420px;
 }

 .about-markup-2.open .about-content > div,
 .about-markup-3.open .about-content > div {
  	-webkit-transition: opacity 0.3s 0.3s;
 	transition: opacity 0.3s 0.3s;
 }

 .about-markup-4.open .about-content {
 	margin: -200px 0 0 -320px;
 	width: 640px;
 	height: 400px;
 }

 .about-markup > button {
 	position: relative;
 	display: block;
 	margin: 0 auto;
 	padding: 10px 20px;
 	color: #666;
 	border-radius: 4px;
 	background: rgba(255, 255, 255, 0.9);
 	position: relative;
 	padding: 0 1em;
 	border: none;
 	background-color: #e85657;
 	color: #f9f6e5;
 	text-transform: uppercase;
 	letter-spacing: 1px;
 	font-weight: 700;
 	line-height: 80px;
 	overflow: hidden;
 }

 .about-markup.open > button {
 	pointer-events: none;
 }

 .about-content {
 	pointer-events: none;
 }

 .about-markup.open .about-content {
 	pointer-events: auto;
 }

 /* Common styles for overlay and modal type (fixed morph) */
 .about-markup,
 .about-markup .about-content {
 	width: 300px;
 	height: 80px;
 }

 .about-markup > button {
 	z-index: 1000;
 	width: 100%;
 	height: 100%;
 	-webkit-transition: opacity 0.1s 0.5s;
 	transition: opacity 0.1s 0.5s;
 }

 .about-markup.open > button {
 	opacity: 0;
 	-webkit-transition: opacity 0.1s;
 	transition: opacity 0.1s;
 }

 .about-markup .about-content {
 	position: fixed;
 	z-index: 900;
 	opacity: 0;
 	-webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
 	transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
 }

 .about-markup.open .about-content {
 	opacity: 1;
 }

 .about-markup .about-content > div {
 	visibility: hidden;
 	height: 0;
 	opacity: 0;
 	-webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
 	transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
 }

 .about-markup.open .about-content > div {
 	visibility: visible;
 	height: auto;
 	opacity: 1;
 	-webkit-transition: opacity 0.3s 0.5s;
 	transition: opacity 0.3s 0.5s;
 }

 .about-markup.active > button {
 	z-index: 2000;
 }

 .about-markup.active .about-content {
 	z-index: 1900;
 }

 /* Transitions for overlay button and sidebar button */
 .about-markup-overlay .about-content,
 .about-markup-sidebar .about-content {
 	-webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
 	transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
 }

 .about-markup-overlay.open .about-content,
 .about-markup-sidebar.open .about-content {
 	-webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
 	transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
 }

 /* Morph Button Style: Overlay */
 .about-markup.about-markup-overlay {
 	margin: 50px auto;
 }

 .about-markup-overlay .about-content {
 	overflow: hidden;
 	background: #e85657;
 }

 .about-markup-overlay.open .about-content {
 	top: 0 !important;
 	left: 0 !important;
 	width: 100%;
 	height: 100%;
 }

 /* Morph Button Style: Modal */
 .about-markup::before {
 	position: fixed;
 	top: 0;
 	left: 0;
 	z-index: 800;
 	width: 100%;
 	height: 100%;
 	background: rgba(0,0,0,0.5);
 	content: '';
 	opacity: 0;
 	-webkit-transition: opacity 0.5s;
 	transition: opacity 0.5s;
 	pointer-events: none;
 }

 .about-markup.open::before {
 	opacity: 1;
 	pointer-events: auto;
 }

 .about-markup.active::before {
 	z-index: 1800;
 }

 .about-markup .about-content {
 	overflow: hidden;
 	-webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
 	transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
 }

 .about-markup.open .about-content {
 	top: 50% !important;
 	left: 50% !important;
 	margin: -210px 0 0 -300px;
 	width: 600px;
 	height: 420px;
 	-webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
 	transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
 }

 /* Colors and sizes for individual modals */
 .about-markup.about-markup {
 	float: left;
 }

 .about-markup.about-markup-2,
 .about-markup.about-markup-3 {
 	display: inline-block;
 	margin: 10px 15px;
 }

 .about-markup > button,
 .about-markup .about-content {
 	background-color: #553445;
 }

 .about-markup-2 > button,
 .about-markup-2 .about-content,
 .about-markup-3 > button,
 .about-markup-3 .about-content {
 	background-color: #fef0e3;
 	color: #e75854;
 }

 .about-markup-4 {
 	display: inline-block;
 }

 .about-markup-4 > button,
 .about-markup-4 .about-content {
 	background-color: #faf1e0;
 	color: #553445;
 }

 .about-markup-4 > button span,
 .about-markup-4 .morph-clone {
 	padding-left: 10px;
 	color: #286f81;
 }

 .about-markup-4 .morph-clone {
 	position: absolute;
 	right: 34px;
 	bottom: 30px;
 	z-index: 100;
 	letter-spacing: 1px;
 	font-weight: 700;
 	-webkit-transition: bottom 0.4s 0.1s, right 0.4s 0.1s;
 	transition: bottom 0.4s 0.1s, right 0.4s 0.1s;
 }

 .about-markup-4.open .morph-clone,
 .no-js .about-markup-4 .morph-clone {
 	right: 10px;
 	bottom: 10px;
 }

 .about-markup::before {
 	background: rgba(240,221,204,0.7);
 }

 .about-markup-2.open .about-content {
 	margin: -210px 0 0 -170px;
 	width: 340px;
 	height: 420px;
 }

 .about-markup-3.open .about-content {
 	margin: -255px 0 0 -210px;
 	width: 420px;
 	height: 510px;
 }

 .about-markup-3.open .about-content > div {
 	height: 420px;
 }

 .about-markup-2.open .about-content > div,
 .about-markup-3.open .about-content > div {
  	-webkit-transition: opacity 0.3s 0.3s;
 	transition: opacity 0.3s 0.3s;
 }

 .about-markup-4.open .about-content {
 	margin: -200px 0 0 -320px;
 	width: 640px;
 	height: 400px;
 }

 /* Morph Button Style: In the content flow */
 .about-markup-inflow {
 	overflow: hidden;
 	max-width: 100%;
 	height: 70px;
 }

 .about-markup-inflow > button {
 	width: 100%;
 	line-height: 70px;
 }

 .about-markup-inflow .about-content {
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 }

 .about-markup-inflow .about-content .morph-clone {
 	padding: 0;
 	font-weight: 700;
 	font-size: 1.5em;
 	line-height: 70px;
 }

 /* Colors and sizes for individual in flow buttons */
 .about-markup-inflow-1 {
 	width: 600px;
 	margin: 2em auto;
 	-webkit-transition: height 0.5s cubic-bezier(0.7,0,0.3,1);
 	transition: height 0.5s cubic-bezier(0.7,0,0.3,1);
 }

 .about-markup-inflow-1 > button span {
 	visibility: hidden;
 }

 .about-markup-inflow-1 .about-content .morph-clone {
 	color: #f9f6e5;
 	background: #e85657;
 }

 .about-markup-inflow-2 {
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	width: 220px;
 	background-color: #fef0e3;
 	-webkit-transition: height 0.3s, width 0.3s, -webkit-transform 0.3s;
 	transition: height 0.3s, width 0.3s, transform 0.3s;
 	-webkit-transform: translateX(-50%) translateY(-50%);
 	transform: translateX(-50%) translateY(-50%);
 }

 .about-markup-inflow-2 > button {
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	background-color: transparent;
 	color: #e75854;
 	-webkit-transition: -webkit-transform 0.3s;
 	transition: transform 0.3s;
 }

 .about-markup-inflow-2.open > button {
 	-webkit-transform: translateX(-100%);
 	transform: translateX(-100%);
 }

 .about-markup-inflow-2 .about-content {
 	width: 260px;
 	height: 200px;
 }

 .about-markup-inflow-2.open {
 	width: 260px;
 }

 /* Morph Button Style: Sidebar */
 .about-markup-sidebar,
 .about-markup-sidebar .about-content {
 	width: 60px;
 	height: 60px;
 }

 .about-markup-sidebar {
 	position: fixed;
 	bottom: 50px;
 	left: 50px;
 }

 .about-markup-sidebar > button {
 	line-height: 60px;
 	font-size: 1.6em;
 	padding: 0;
 }

 .about-markup-sidebar .about-content {
 	background: #e85657;
 }

 .about-markup-sidebar.open .about-content {
 	top: 0 !important;
 	left: 0 !important;
 	width: 300px;
 	height: 100%;
 	overflow: hidden;
 	-webkit-backface-visibility: hidden;
 }

 /* Let's add some nice easing for all cases */
 .about-markup .about-content,
 .about-markup.open .about-content,
 .about-markup-4 .morph-clone {
 	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
 	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
 }

 /* Helper classes */
 .noscroll {
 	overflow: hidden;
 }

 .about-markup-overlay.scroll .about-content {
 	overflow-y: scroll;
 }

 .about-markup-sidebar.scroll .about-content {
 	overflow: auto;
 }

 /* No JS fallback: let's hide the button and show the content */
 .no-js .about-markup > button {
 	display: none;
 }

 .no-js .about-markup {
 	margin: 10px 0;
 	float: none;
 }

 .no-js .about-markup,
 .no-js .about-markup .about-content,
 .no-js .about-markup .about-content > div {
 	position: relative;
 	width: auto;
 	height: auto;
 	opacity: 1;
 	visibility: visible;
 	top: auto;
 	left: auto;
 	-webkit-transform: none;
 	transform: none;
 	pointer-events: auto;
 }

 .no-js .about-markup .about-content .icon-close {
 	display: none;
 }

 .no-js .about-markup-sidebar {
 	width: 300px;
 	position: fixed;
 	top: 0;
 	left: 0;
 	margin: 0;
 	height: 100%;
 	background: #e85657;
 	overflow: auto;
 }

 .no-transition {
 	-webkit-transition: none !important;
 	transition: none !important;
 }













 /* Styles for dummy content */

 /* Style for overlay */

 .content-style-overlay {
 	padding: 100px 50px;
 	text-align: center;
 }

 .content-style-overlay h2 {
 	margin: 0 0 1em 0;
 	padding: 0;
 	font-weight: 300;
 	font-size: 3em;
 }

 .content-style-overlay p {
 	margin: 0 auto;
 	padding: 10px 0;
 	max-width: 700px;
 	text-align: justify;
 	font-weight: 300;
 	font-size: 1.5em;
 }

 .content-style-overlay .icon-close {
 	border: 2px solid #f9e1c9;
 	border-radius: 50%;
 	line-height: 2.8;
 }

 .content-style-overlay .icon-close:hover {
 	border-color: #a50a05;
 }

 /* Style for text modal */
 .content-style-text {
 	padding: 60px;
 	text-align: left;
 }

 .content-style-text h2 {
 	margin: 0 0 0.5em 0;
 	font-weight: 300;
 	font-size: 1.85em;
 }

 .content-style-text p {
 	color: rgba(255,255,255,0.5);
 	font-weight: 300;
 	font-size: 1.15em;
 	line-height: 1.4;
 }

 .content-style-text label {
     padding: 10px;
     color: #f9e1c9;
     font-weight: bold;
 }

 .content-style-text .icon-close {
 	top: 0;
 	right: 0;
 	color: rgba(0,0,0,0.2);
 }

 .content-style-text .icon-close:hover {
 	color: #f9e1c9;
 }

 /* Style for form modal */
 .content-style-form {
 	position: relative;
 	text-align: left;
 }

 .content-style-form h2 {
 	margin: 0;
 	padding: 0.4em 0 0.3em;
 	text-align: center;
 	font-weight: 300;
 	font-size: 3.5em;
 }

 .content-style-form form {
 	padding: 10px 30px;
 }

 .content-style-form form p {
 	margin: 0 0 5px 0;
 	font-size: 0.7em;
 }

 .content-style-form label {
 	display: block;
 	padding: 10px 0 0;
 	color: #d5bba4;
 	text-transform: uppercase;
 	letter-spacing: 1px;
 	font-weight: bold;
 }

 .content-style-form input[type="text"],
 .content-style-form input[type="password"] {
 	padding: 10px;
 	width: 100%;
 	border: 2px solid #ebd3bd;
 	background: transparent;
 	color: #b09a86;
 	font-weight: 300;
 	font-size: 2.2em;
 }

 .content-style-form input[type="text"]:focus,
 .content-style-form input[type="password"]:focus {
 	border-color: #e75854;
 	color: #e75854;
 }

 .content-style-form input:focus {
 	outline: 0;
 }

 .content-style-form button {
 	display: block;
 	margin-top: 2.5em;
 	padding: 1.5em;
 	width: 100%;
 	border: none;
 	background: #e75854;
 	color: #f9f6e5;
 	text-transform: uppercase;
 	letter-spacing: 1px;
 	font-weight: 800;
 	font-size: 1.25em;
 }

 .content-style-form .icon-close {
 	top: 0;
 	right: 0;
 	color: #ebd3bd;
 	font-size: 75%;
 }

 .content-style-form .icon-close:hover {
 	color: #e75854;
 }

 .js .content-style-form-1 h2,
 .js .content-style-form-1 p,
 .js .content-style-form-1 .icon-close {
 	opacity: 0;
 	-webkit-transition: opacity 0.2s 0.35s, -webkit-transform 0.2s 0.35s;
 	transition: opacity 0.2s 0.35s, transform 0.2s 0.35s;
 	-webkit-transform: scale(0.85);
 	transform: scale(0.85);
 }

 .content-style-form-1 p:first-child {
 	-webkit-transition-delay: 0.4s;
 	transition-delay: 0.4s;
 }

 .content-style-form-1 p:nth-child(2) {
 	-webkit-transition-delay: 0.45s;
 	transition-delay: 0.45s;
 }

 .content-style-form-1 p:nth-child(3) {
 	-webkit-transition-delay: 0.5s;
 	transition-delay: 0.5s;
 }

 .about-markup.open .content-style-form-1 h2,
 .about-markup.open .content-style-form-1 p,
 .about-markup.open .content-style-form-1 .icon-close {
 	opacity: 1;
 	-webkit-transform: scale(1);
 	transform: scale(1);
 }

 .js .content-style-form-2 h2,
 .js .content-style-form-2 p,
 .js .content-style-form-2 .icon-close {
 	opacity: 0;
 	-webkit-transition: opacity 0.2s 0.3s, -webkit-transform 0.2s 0.3s;
 	transition: opacity 0.2s 0.3s, transform 0.2s 0.3s;
 	-webkit-transform: translateY(50px);
 	transform: translateY(50px);
 }

 .content-style-form-2 p:first-child {
 	-webkit-transition-delay: 0.35s;
 	transition-delay: 0.35s;
 }

 .content-style-form-2 p:nth-child(2) {
 	-webkit-transition-delay: 0.4s;
 	transition-delay: 0.4s;
 }

 .content-style-form-2 p:nth-child(3) {
 	-webkit-transition-delay: 0.45s;
 	transition-delay: 0.45s;
 }

 .content-style-form-2 p:nth-child(4) {
 	-webkit-transition-delay: 0.5s;
 	transition-delay: 0.5s;
 }

 .about-markup.open .content-style-form-2 h2,
 .about-markup.open .content-style-form-2 p,
 .about-markup.open .content-style-form-2 .icon-close {
 	opacity: 1;
 	-webkit-transform: translateY(0);
 	transform: translateY(0);
 }

 .content-style-form-4 form {
 	padding: 30px;
 	background: #fff;
 	color: #ccb096;
 	font-size: 1.5em;
 	-webkit-perspective: 1000px;
 	perspective: 1000px;
 }

 .content-style-form-4 input[type="text"] {
 	border: none;
 	background-color: #f0f0f0;
 }

 .content-style-form-4 form button {
 	background: #ba997b;
 }

 .content-style-form-4 form button:focus,
 .content-style-form-4 form button:hover {
 	background: #a9896d;
 }

 .js .content-style-form-4 p {
 	opacity: 0;
 	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
 	transition: opacity 0.3s, transform 0.3s;
 	-webkit-transform: rotateX(-45deg);
 	transform: rotateX(-45deg);
 	-webkit-transform-origin: center top;
 	transform-origin: center top;
 }

 .about-markup.open .content-style-form-4 p {
 	opacity: 1;
 	-webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.4s 0.2s;
 	transition: opacity 0.4s 0.2s, transform 0.4s 0.2s;
 	-webkit-transform: rotateY(0deg);
 	transform: rotateY(0deg);
 }

 .about-markup.open .content-style-form-4 p:nth-child(2) {
 	-webkit-transition-delay: 0.35s;
 	transition-delay: 0.35s;
 }

 .content-style-social {
 	padding: 30px;
 	text-align: left;
 }

 .about-markup-inflow-2 > button svg {
 	display: inline-block;
 	padding-right: 10px;
 	width: 20px;
 	height: 20px;
 	vertical-align: -5%;
 }

 .about-markup-inflow-2 > button svg path {
 	fill: #e75854;
 }

 .content-style-social a {
 	display: block;
 	padding: 0.5em 0;
 	color: #67c2d4;
 	vertical-align: middle;
 	text-transform: uppercase;
 	letter-spacing: 1px;
 	font-weight: 700;
 	font-size: 0.8em;
 	line-height: 32px;
 }

 .js .content-style-social a {
 	-webkit-transition: -webkit-transform 0.3s;
 	transition: transform 0.3s;
 	-webkit-transform: translateX(100%);
 	transform: translateX(100%);
 }

 .content-style-social a:hover {
 	color: #e75854;
 }

 .content-style-social a:hover svg path {
 	fill: #e75854;
 }

 .content-style-social a svg {
 	display: inline-block;
 	padding-right: 10px;
 	vertical-align: middle;
 	-webkit-backface-visibility: hidden;
 }

 .about-markup-inflow.open .content-style-social a {
 	-webkit-transform: translateX(0);
 	transform: translateX(0);
 }

 .about-markup-inflow.open .content-style-social a:nth-child(2) {
 	-webkit-transition-delay: 0.05s;
 	transition-delay: 0.05s;
 }

 .about-markup-inflow.open .content-style-social a:nth-child(3) {
 	-webkit-transition-delay: 0.1s;
 	transition-delay: 0.1s;
 }

 .content-style-video {
 	text-align: left;
 }

 .video-mockup {
 	width: 640px;
 	height: 360px;
 	max-width: 100%;
 	background: url(../img/rated.png) no-repeat center center;
 	background-size: 100%;
 }

 .content-style-video .icon-close,
 .content-style-video .icon-pause {
 	color: #286f81;
 }

 .content-style-video .icon-close {
 	top: 0;
 	right: 0;
 }

 .content-style-video .icon-close:hover {
 	color: rgba(0,0,0,0.4);
 }

 .controls {
 	bottom: 0px;
 	left: 0px;
 	width: 100%;
 }

 .js .controls {
 	position: absolute;
 }

 .controls span {
 	display: inline-block;
 }

 .content-style-video .icon-pause {
 	overflow: hidden;
 	width: 2.5em;
 	height: 2.5em;
 	text-align: center;
 	line-height: 2.5;
 	cursor: pointer;
 	vertical-align: bottom;
 }

 .content-style-video span.time {
 	color: #286f81;
 	letter-spacing: 1px;
 	font-weight: 700;
 	line-height: 40px;
 }

 .controls::after {
 	content: '';
 	position: absolute;
 	height: 7px;
 	left: 100px;
 	right: 70px;
 	bottom: 16px;
 	background: #aaa;
 }

 .content-style-sidebar h2 {
 	font-weight: 300;
 	font-size: 2em;
 	padding: 0.75em 0 0.75em 1em;
 	margin: 0;
 	color: #bb4445;
 }

 .content-style-sidebar .icon-close {
 	top: 0;
 	right: 0;
 	font-size: 0.85em;
 }

 .content-style-sidebar ul {
 	list-style: none;
 	margin: 0;
 	padding: 0;
 }

 .content-style-sidebar ul li a {
 	display: block;
 	padding: 12px 20px;
 	color: #faf1e0;
 	font-weight: 400;
 	font-size: 1.05em;
 	box-shadow: inset 0 1px rgba(0,0,0,0.1);
 }

 .content-style-sidebar ul li:last-child a {
 	box-shadow: inset 0 1px rgba(0,0,0,0.1), inset 0 -1px rgba(0,0,0,0.1);
 }

 .content-style-sidebar ul li a:hover {
 	background: rgba(0,0,0,0.1);
 	box-shadow: none;
 }

 .content-style-sidebar ul .icon::before {
 	display: inline-block;
 	width: auto;
 	margin-right: 20px;
 	font-size: 1.5em;
 	vertical-align: -10%;
 	color: rgba(0,0,0,0.2);
 }



 /*
  * Leaflet
  */

// Marker & Cluster
.leaflet-marker-icon,
.leaflet-cluster img {
	border: 2px solid #fff;
	box-shadow: 0 0 6px #999;
	width: 80px;
	height: 80px;
}

// Smooth Animate Cluster
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

 // Cluster Count
 .leaflet-cluster b {
 	position: absolute;
 	top: -6px;
 	left: 70px;
 	background-color: #fff;
 	border-radius: 8px;
 	height: 18px;
 	min-width: 18px;
 	line-height: 18px;
 	text-align: center;
 	box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2);
 }

 .leaflet-popup {
 	position: relative;
 }

 .leaflet-retina .leaflet-cluster-instagram img {
 	width: 80px;
 	height: 80px;
 }
 .leaflet-retina .leaflet-cluster-instagram b {
 	left: 68px;
 }

 // Popup
 .leaflet-popup-instagram a.leaflet-popup-close-button {
 	position: absolute;
 	top: -12px;
 	right: -12px;
 	left: auto;
 	background-color: #fff;
 	padding: 0;
 	border-radius: 30px;
 	width: 30px;
 	height: 30px;
 	line-height: 30px;
 	color: #555;
 }
 .leaflet-popup-instagram a.leaflet-popup-close-button:hover {
 	color: #333;
 	background-color: #eee;
 }
 .leaflet-popup-instagram .leaflet-popup-content-wrapper {
 	padding: 0 0 1px 0;
 	border-radius: 6px;
 }
 .leaflet-popup-instagram .leaflet-popup-content {
 	margin: 13px 0;
 }

 .leaflet-popup-content a {
 	background: #555;
 }

 .leaflet-popup-instagram img,
 .leaflet-popup-instagram video {
 	width: 301px;
 	height: 301px;
 	border-radius: 4px 4px 0 0;
 }
 .leaflet-popup-instagram p {
 	margin: 5px 10px 0 10px;
 	overflow: hidden;
 	height: 80px;
 }







/* Custom page header */
.header {
	padding-top: 20px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}





/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}

.marketing p + h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		width: auto;
	}

	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}
