$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'leaflet/dist/leaflet';

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body, html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#map_canvas {
	width: 100%;
	height: 100%;
}

.container-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 90px;
	z-index: 10000;
	background-color: white;
	border-bottom: 1px solid #ccc;
}

 /*
  * Leaflet
  */

// Marker & Cluster
.leaflet-marker-icon,
.leaflet-cluster img {
	border: 2px solid #fff;
	box-shadow: 0 0 6px #999;
	width: 80px;
	height: 80px;
}

// Smooth Animate Cluster
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

 // Cluster Count
 .leaflet-cluster b {
 	position: absolute;
 	top: -6px;
 	left: 70px;
 	background-color: #fff;
 	border-radius: 8px;
 	height: 18px;
 	min-width: 18px;
 	line-height: 18px;
 	text-align: center;
 	box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2);
 }

.leaflet-popup {
	position: relative;
}

 .leaflet-retina .leaflet-cluster-instagram img {
 	width: 80px;
 	height: 80px;
 }
 .leaflet-retina .leaflet-cluster-instagram b {
 	left: 68px;
 }

 // Popup
 .leaflet-popup-instagram a.leaflet-popup-close-button {
 	position: absolute;
 	top: -12px;
 	right: -12px;
 	left: auto;
 	background-color: #fff;
 	padding: 0;
 	border-radius: 30px;
 	width: 30px;
 	height: 30px;
 	line-height: 30px;
 	color: #555;
 }
 .leaflet-popup-instagram a.leaflet-popup-close-button:hover {
 	color: #333;
 	background-color: #eee;
 }
 .leaflet-popup-instagram .leaflet-popup-content-wrapper {
 	padding: 0 0 1px 0;
 	border-radius: 6px;
 }
 .leaflet-popup-instagram .leaflet-popup-content {
 	margin: 13px 0;
 }

 .leaflet-popup-content a {
	background: #555;
 }

 .leaflet-popup-instagram img,
 .leaflet-popup-instagram video {
 	width: 301px;
 	height: 301px;
 	border-radius: 4px 4px 0 0;
 }
 .leaflet-popup-instagram p {
 	margin: 5px 10px 0 10px;
 	overflow: hidden;
 	height: 80px;
 }







/* Custom page header */
.header {
	padding-top: 20px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}





/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}

.marketing p + h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		width: auto;
	}

	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}
