<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<title>Instagram RealTime Map</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="/styles/main.css">
		<!-- endbuild -->
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- build:js scripts/vendor/modernizr.js -->
		<script src="/bower_components/modernizr/modernizr.js"></script>
		<!-- endbuild -->
	</head>
	<body>
		<!--[if lt IE 10]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->




		<!-- build:js scripts/vendor.js -->
		<script src="/bower_components/jquery/dist/jquery.js"></script>
		<script src="/bower_components/lodash/dist/lodash.compat.js"></script>
		<script src="/bower_components/backbone/backbone.js"></script>
		<!-- endbuild -->

		<!-- build:js scripts/plugins.js -->
		<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
		<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
		<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
		<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
		<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
		<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
		<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
		<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
		<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
		<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
		<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
		<script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
		<!-- endbuild -->

		<!-- build:js({.tmp,app}) scripts/main.js -->
		<script src="/scripts/app.js"></script>
		<script src="/scripts/helper.js"></script>

		<script src="scripts/modules/admin.js"></script>

		<!-- endbuild -->
</body>
</html>
